/*
 * SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/dts-v1/;

#include <espressif/esp32s3/esp32s3_r2.dtsi>
#include "heltec_wifi_lora32_v4-pinctrl.dtsi"
#include <espressif/partitions_0x0_amp_16M.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/lora/sx126x.h>

/ {
	model = "Heltec WiFi LoRa 32 V4 PROCPU";
	compatible = "espressif,esp32s3";

	aliases {
		uart-0 = &uart0;
		i2c-0 = &i2c0;
		lora0 = &lora0;
		led0 = &led0;
		sw0 = &button0;
		watchdog0 = &wdt0;
	};

	leds {
		compatible = "gpio-leds";

		led0: led {
			gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;  /* GPIO 35 */
			label = "TX LED";
		};
/*
		vext: vext {
			gpios = <&gpio0 36 GPIO_ACTIVE_LOW>;
			label = "VEXT";
		};
		oledrst: oledrst {
			gpios = <&gpio0 21 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "OLED Reset";
		};
*/

		adcen: adcen {
			gpios = <&gpio0 37 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "ADC Enable";
		};
	};

	buttons {
		compatible = "gpio-keys";

		button0: button_0 {
			gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "USER SW";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	vbatt {
		compatible = "voltage-divider";
		io-channels = <&adc1 0>;
		output-ohms = <100000>;
		full-ohms = <(100000 + 390000)>;
	};

	chosen {
		zephyr,sram = &sram1;
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,bt-hci = &esp32_bt_hci;
	};
};

&flash0 {
	reg = <0x0 DT_SIZE_M(16)>;
};

&adc1 {
	status = "okay";
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&gpio0 {
	status = "okay";

};

&gpio1 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
};

&spi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";

	lora0: lora@0 {
		compatible = "semtech,sx1262";
		reg = <0>;
		reset-gpios = <&gpio0 12 (GPIO_OPEN_DRAIN | GPIO_ACTIVE_LOW)>;
		busy-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
		dio1-gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
		dio2-tx-enable;
		dio3-tcxo-voltage = <SX126X_DIO3_TCXO_1V8>;
		tcxo-power-startup-delay-ms = <5>;
		spi-max-frequency = <4000000>;
	};
};

&spi3 {
	#address-cells = <1>;
	#size-cells = <0>;
	cs-gpios = <&gpio0 32 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spim3_default>;
	pinctrl-names = "default";
	status = "disabled";

	w25q128: w25q128@0 {
		compatible = "jedec,spi-nor";
		size = <DT_SIZE_M(128)>;
		reg = <0>;
		spi-max-frequency = <10000000>;
		jedec-id = [ef 40 18];
		wp-gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;
		hold-gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;
		status = "okay";
	};
};

&twai {
	pinctrl-0 = <&twai_default>;
	pinctrl-names = "default";
};

&timer0 {
	status = "okay";
};

&timer1 {
	status = "okay";
};

&timer2 {
	status = "okay";
};

&timer3 {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&trng0 {
	status = "okay";
};

&esp32_bt_hci {
	status = "okay";
};

&wifi {
	status = "okay";
};

&usb_serial {
	status = "okay";
};

&usb_otg {
	status = "okay";
};

&lora0 {
	status = "okay";
};

/* Required by the ssd1306_128x64 shield which enables the OLED display */
arduino_i2c: &i2c0 {};
